h1 {
    font-size: 36px;
    color: #04326a;
    line-height: 1.5;
    word-break: break-word;
    font-weight: 700;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.line {
    margin-bottom: 20px;
}

.center {
    text-align: center;

}

.white {
    color: white;
}

.section {
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    position: relative;
}

.section-last {
    display: block;
    position: relative;
}

.section-container {
    width: 100%;
    display: -webkit-box;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .section-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
    }
}

.timeline {
    margin: 50px 0;
    list-style-type: none;
    display: -webkit-box;
    display: flex;
    padding: 0;
    text-align: center;
}

.timeline li {
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.status span {
    width: 80%;
    /* width: 200px; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    font-weight: 700;
    height: 5rem;
    -webkit-box-pack: end;
            justify-content: flex-end;
    padding-bottom: 20px;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.4;
}

.status {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.timestamp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    border-top: 4px solid #01bcb1;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    text-align: left;
}

.school {
    font-weight: 700;
    padding-top: 20px;
    color: #04326a;
    text-align: left;
    width:80%;
}

.date {
    font-weight: 200;
    text-align: left;
}

.timestamp span:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #01bcb1;
    border-radius: 25px;
    border: 4px solid #01bcb1;
    position: absolute;
    top: -8px;
    left: 0;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.swiper-control {
    text-align: right;
}

.swiper-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-slide {
    width:14%;
    font-size: 0.9rem;
    line-height: 1.4;
    /* width: 200px; */
    text-align: center;
    /* font-size: 18px; */
}

/* .swiper-slide:nth-child(4n) {
    width: 40%;
}

.swiper-slide:nth-child(5n) {
    width: 20%;
} */


.timeline2 {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline2 h3 {
    color: #595959;
    font-size: 1.15em;
    line-height: 1.1;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child {
    padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
    color: #000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 3px 0;
    text-transform: uppercase;
    width: 50%;
    /*white-space: nowrap;*/
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timeline-marker:before {
    background: #01bcb1;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 9px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 9px;
    -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #317f8f;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
    padding-bottom: 40px;
    width: 50%;
}

.timeline-content p:last-child {
    margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
    padding: 0;
}

.period .timeline-info {
    display: none;
}

.period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
}

.period .timeline-content {
    padding: 40px 0 70px;
}

.period .timeline-title {
    margin: 0;
}

/*----------------------------------------------
		MOD: TIMELINE SPLIT
	----------------------------------------------*/
@media (min-width: 768px) {

    .timeline-split .timeline2,
    .timeline-centered .timeline2 {
        display: table;
    }

    .timeline-split .timeline-item,
    .timeline-centered .timeline-item {
        display: table-row;
        padding: 0;
    }

    .timeline-split .timeline-info,
    .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
        display: table-cell;
        vertical-align: top;
    }

    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker {
        position: relative;
    }

    .timeline-split .timeline-content,
    .timeline-centered .timeline-content {
        padding-left: 30px;
    }

    .timeline-split .timeline-info,
    .timeline-centered .timeline-info {
        padding-right: 30px;
    }

    .timeline-split .period .timeline-title,
    .timeline-centered .period .timeline-title {
        position: relative;
        left: -45px;
    }

    .timeline-content.tlTitles {
        padding: 0 0 0 30px;
    }

    .timeline2 h3 {
        line-height: 1.4;
    }
}

@media (max-width: 768px) {
    .timeline-info {
        width: 100%;
    }

    .timeline-content {
        width: 100%;
    }

    .timeline-item {
        text-align: left;
        margin-bottom: 20px;
    }
}

/*----------------------------------------------
		MOD: MARKER OUTLINE
	----------------------------------------------*/
.marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
}

.timeline-content.tlTitles {
    padding-bottom: 0;
}

.timeline-content.tlTitles .timeline-title {
    padding-bottom: 4px;
    margin-bottom: 15px;
    border-bottom: 0px solid #CCD5DB;
}