.banner-text-small-move-appear {
  opacity: 0 !important;
  -webkit-transform: translateY(-30px) !important;
  transform: translateY(-30px) !important;
}

.banner-text-small-move-appear-active {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
  -webkit-transition: all 1s 2s !important;
  transition: all 1s 2s !important;
}

.banner-text-small-move-enter {
  opacity: 0 !important;
  -webkit-transform: translateY(-30px) !important;
  transform: translateY(-30px) !important;
}

.banner-text-small-move-enter-active {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
  -webkit-transition: all 1s 2s !important;
  transition: all 1s 2s !important;
}

.banner-text-big-move-appear {
  opacity: 0 !important;
  -webkit-transform: translateY(-30px) !important;
  transform: translateY(-30px) !important;
}

.banner-text-big-move-appear-active {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
  -webkit-transition: all 1s 1s !important;
  transition: all 1s 1s !important;
}

.banner-text-big-move-enter {
  opacity: 0 !important;
  -webkit-transform: translateY(-30px) !important;
  transform: translateY(-30px) !important;
}

.banner-text-big-move-enter-active {
  opacity: 1 !important;
  -webkit-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
  -webkit-transition: all 1s 1s !important;
  transition: all 1s 1s !important;
}

.banner-button-appear {
  opacity: 0 !important;
}

.banner-button-appear-active {
  opacity: 1 !important;
  -webkit-transition: opacity 1s 3s !important;
  transition: opacity 1s 3s !important;
}

.banner-button-enter {
  opacity: 0 !important;
}

.banner-button-enter-active {
  opacity: 1 !important;
  -webkit-transition: opacity 1s 3s !important;
  transition: opacity 1s 3s !important;
}

.banner-time-appear {
  opacity: 0 !important;
}

.banner-time-appear-active {
  opacity: 1 !important;
  -webkit-transition: opacity 1s 4s !important;
  transition: opacity 1s 4s !important;
}

.banner-time-enter {
  opacity: 0 !important;
}

.banner-time-enter-active {
  opacity: 1 !important;
  -webkit-transition: opacity 1s 4s !important;
  transition: opacity 1s 4s !important;
}

.time-section-weather {
  display: grid;
  margin-bottom: 10px;
  grid-auto-flow: column;
  grid-gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 80px 30px;
}

.time-section-local span {
  letter-spacing: 2px;
}

.time-section-local,
.time-section-weather {
  font-weight: 700;
}
.time-section-local {
  margin-bottom: 0px;
}

.time-section-weather {
  margin-bottom: 5px;
}
